@font-face {
    font-family: "Aclonica";
    src: url("../css/fonts/Aclonica/Aclonica-Regular.ttf");
}

body {
    min-width: 360px
}

nav {
    animation: descendToBottom 4s forwards;
}

form {
    animation: show 4s forwards;
}

.font-aclonica {
    font-family: "Aclonica";
}

/* ! Personalizacion botones */
.btn-primary {
    background-color: #23c29d !important;
    border-color: #34c2a2 !important;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}

.btn-primary:hover {
    opacity: .7;
}

.btn-action {
    background-color: #ff6333 !important;
    border-color: #ff6333 !important;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}

.btn-action:hover {
    opacity: .7;
}

/* ! Personalizacion Background */
.bg-primary {
    background-color: #23c29d !important;
    border-radius: 10px;
}

.bg-secondary {
    background-color: #eeeeee !important;
}

.bg-promotion {
    background-color: #ff6333;
}

.bg-h2 {
    background-color: rgba(35, 194, 157, .8) !important;
}

.bg-h3 {
    background-color: rgb(35, 194, 157, .6) !important;
}

.bg-h4 {
    background-color: rgb(35, 194, 157, .4) !important;
}

/* ! Iconos de listas personalizados */
/* contacto - footer */
.contact li:nth-child(1) {
    list-style-image: url("/img/footer/mail.svg");
}

.contact li:nth-child(2) {
    list-style-image: url("/img/footer/call.svg");
}

.contact li:nth-child(3) {
    list-style-image: url("/img/footer/location.svg");
}

/* Detail - Flight */
.flight-detail li:nth-child(1) {
    list-style-image: url("/img/detail/flight/check.svg");
}

.flight-detail li:nth-child(2) {
    list-style-image: url("/img/common/clock.svg");
}

/* Detail - Excursion */
.excursion-detail li:nth-child(1) {
    list-style-image: url("/img/common/clock.svg");
}

.excursion-detail li:nth-child(2) {
    list-style-image: url("/img/detail/excursions/person.svg");
}

/* My Trip - Flight*/
.schedule-list li {
    list-style-image: url("/img/my-trip/calendar.svg");
}

/* ! Clases personalizadas */
.card {
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
}

.carousel-control-prev {
    transform: translateX(-30%);
}

.carousel-control-next {
    transform: translateX(30%);
}

.triangle {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 37% 50%);
}

.background-image {
    background-image: url("/img/common/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position-y: -150px;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
    top: 0;
    left: 0;
}

.custom-height {
    height: 700px
}

.shadow {
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}

.bg-opacity {
    background-color: rgba(255, 255, 255, 0.5);
}

.bg-navbar {
    background-color: rgba(0, 0, 0, 0.5);
}

.top-50 {
    top: 50px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.width-75 {
    width: 75px !important;
}

/* ! Media Queries */
@media (max-width: 993px) {
    .fs-1 {
        font-size: 40px;
    }

    .fs-2 {
        font-size: 30px !important;
    }

    .fs-3 {
        font-size: 30px !important;
    }

    .fs-4 {
        font-size: 25px !important;
    }

    .fs-5 {
        font-size: 18px !important;
    }

    figcaption,
    ul li {
        font-size: 16px !important;
    }

    .carousel {
        width: 95% !important;
    }
}

@media (max-width: 769px) {

    .fs-1 {
        font-size: 30px !important;
    }

    .fs-2 {
        font-size: 20px !important;
    }

    .fs-3 {
        font-size: 25px !important;
    }

    .fs-4 {
        font-size: 20px !important;
    }

    .carousel {
        width: 100% !important;
    }

    .carousel-control-next,
    .carousel-control-prev {
        padding: 0 !important;
    }
}

@media (max-width: 600px) {
    .fs-3 {
        font-size: 25px !important;
    }

    a,
    .fs-5 {
        font-size: 14px !important;
    }

    .carousel {
        width: 100% !important;
    }

    .custom-height {
        height: 800px;
    }
}

/* !Animaciones */
@keyframes descendToBottom {
    from {
        transform: translateY(-200px);
    }

    to {
        transform: translateY(0px);
    }
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}